[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
langchain-openai = "*"
langchain-community = "*"
docarray = "*"
pydantic = "*"
pytube = "*"
openai-whisper = {git = "git+https://github.com/openai/whisper.git"}
pytubefix = "*"
pinecone-client = "*"
langchain-pinecone = "*"
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pymysql = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
